header {
  background-color: #910B12;
  height: 80px;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 8px;
  color: white;
  font-family: 'Andale Mono';
}

.reel {
  margin-left: 28px;
  height: 37px;
  width: auto;
  filter: brightness(0) invert(1);
}

