img {
  width: 100%;
  display: block;
}

.poster {
  position: relative;
}

.rating {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
  color: white;
  background:rgb(40,40,40,.7);
  margin-top: 0px;
}

h3,
.date {
  color: white;
}

h3 {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.date {
  margin-top: 7px;
}

.preview {
  background-color:#383838;
}

.short-description {
  margin-left: 15px;
}
