.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.close-button {
  align-self: flex-end;
  margin-right: 100px;
  margin-bottom: 80px;
  padding: 8px 12px;
  font-size: 25px;
  border-radius: 2px;
  border: none;
  background-color: rgb(40,40,40,.7);
  color: white;
}

.movie-box {
  width: 800px;
  height: 600px;
  background-color: white;
}

.video-box {
  height: 60%;
  background-color: purple;
}

.details-box {
  height: 40%;
}

.detail-columns {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;

}

.column {
  width: 50%;
  margin-left: 50px;
}

.title, .overview {
  margin: 20px
}
